<%- include("./layout/header.ejs") %>
<nav class="flex justify-between items-center py-4 px-4 md:px-10 md:pt-8 lg:px-20 font-inter fixed w-full overflow-hidden bg-white" id="nav">
    <div class="lg:flex items-center gap-[72px]">
        <a href="/"><img src="/images/logo.svg" alt="Temitope svg"></a>
        <ul class=" hidden lg:flex list-none lg:gap-11 text-base text-black-200 font-normal">
          <a href="/about">
            <li>About</li>
          </a>
          <a href="/books">
            <li>Book</li>
          </a>
          <a href="/shop">
            <li>Shop</li>
          </a>
          <a href="/aim">
            <li>AIM</li>
          </a>
          <a href="/blog">
            <li>BLOG</li>
          </a>
        </ul>
    </div>
    <img src="/images/hamburger.png" alt="" class="lg:hidden">
    <div class="hidden lg:flex" >
        <button class="text-lg md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
            Join Community
        </button>
    </div>
</nav>
<section class="pt-28 md:pt-40 lg:pt-48 flex justify-center pb-12 lg:pb-16">
<div class="w-[90%] md:w-3/4 lg:w-1/2">
    <h1 class="flex items-center font-medium text-[#231F20] text-2xl md:text-3xl lg:text-[clamp(35px,2.77vw,40px)] lg:leading-10">
        Hi<div class="animate-wiggle"> 👋🏻 </div>I'm Temitope Odetunde 
    </h1>
    <p class="font-normal text-xs md:text-sm lg:text-[clamp(16px,1.388vw,20px)] lg:leading-7 pt-6">
        Temitope Odetunde believes in authentic Christianity which can only happen when a person receives Christ (salvation), know the truth (transformation) and then the truth they know has the power to set them free, until this process is complete, we cannot be an authentic Christian. Temitope is a pharmacist by profession and has worked in different capacity and setting within the healthcare system as a Clinical pharmacist in Acute hospital Pharmacist, NHS 111 Academia as a pharmacy practice lecturer, CQC Inspector and as the Head of Medicines Management (Community Services).
    </p>
</div>
</section>
<section class="px-[86px] grid lg:grid-cols-4">
    <div>

    </div>
    <div>

    </div>
    <div>
        
    </div>
</section>
<%- include("./layout/footer.ejs") %>