<%- include("./layout/header.ejs") %>
<section class="flex justify-between items-center py-3 px-4 md:px-10 md:pt-8 lg:px-20 bg-grey-100 fixed z-40 w-full " id="nav">
  <nav class="lg:flex lg:justify-between lg:items-center lg:font-inter lg:w-full"  >
    <div class=" lg:flex items-center gap-[72px]" >
        <a href="/"><img src="/images/logo.svg" alt="Temitope svg"></a>
        <div id="mobby" class=" hidden lg:block ">
          <ul class="hidden lg:flex list-none lg:gap-11 text-base text-black-200 font-normal mobUl" >
            <div class="flex justify-end">
              <img src="/images/close.png" alt="" class="closeIcon lg:hidden">
            </div>
            <a href="/" class="flex lg:hidden">
              <li>Home</li>
            </a>
            <a href="/about">
              <li>About</li>
            </a>
            <a href="/books">
              <li>Book</li>
            </a>
            <a href="https://www.etsy.com/uk/shop/RIOSINFLUENCIA?ref=hpsh" target="_blank">
              <li>Shop</li>
            </a>
            <a href="/aim">
              <li>AIM</li>
            </a>
            <a href="/blog">
              <li>Blog</li>
            </a>
            <a href="/gallery">
              <li>Gallery</li>
            </a>
            <a href="https://chat.whatsapp.com/JPA5BEZCojOFQNYHrK8OVy" class=" lg:hidden text-lg px-4 py-3 md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
              Join Community
          </a>
          </ul>
        </div>
    </div>
    <div class="hidden lg:flex" >
        <a href="https://chat.whatsapp.com/JPA5BEZCojOFQNYHrK8OVy" class="text-lg md:px-5 md:py-4  rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
            Join Community
        </a >
    </div>
  </nav>
  <img src="/images/hamburger.png" alt="" class="lg:hidden" id="ham">
</section>
  <section class="pt-28 md:pt-40 lg:pt-48 px-5 md:px-14 lg:px-[86px] flex justify-center pb-12 lg:pb-16">
    <div class="w-[100%] md:w-3/4 lg:w-1/2">
        <h1 class="flex items-center font-medium text-[#231F20] text-2xl md:text-3xl lg:text-[clamp(35px,2.77vw,40px)] lg:leading-10">
            Hi<div class="animate-wiggle"> 👋🏻 </div>I'm Temitope Odetunde 
        </h1>
        <p class="font-normal text-xs md:text-sm lg:text-[clamp(16px,1.388vw,20px)] lg:leading-7 pt-6">
            Temitope Odetunde believes in authentic Christianity which can only happen when a person receives Christ (salvation), know the truth (transformation) and then the truth they know has the power to set them free, until this process is complete, we cannot be an authentic Christian. Temitope is a pharmacist by profession and has worked in different capacity and setting within the healthcare system as a Clinical pharmacist in Acute hospital Pharmacist, NHS 111 Academia as a pharmacy practice lecturer, CQC Inspector and as the Head of Medicines Management (Community Services).
        </p>
    </div>
  </section>
    <section class="px-5 md:px-14 lg:px-[86px]">
        <div class="img gap-4 grid grid-cols-1 lg:grid-cols-4 bg-[#F9F4FF] rounded-md p-4">
          <div class="hidden md:grid md:col-start-1 md:col-end-2  gap-4">
            <img src="/images/aboutImages/about1.png" alt="about one">
            <img src="/images/aboutImages/about2.png" alt="about one">
            <img src="/images/aboutImages/about3.png" alt="about one">
          </div>
          <div class="md:col-start-2 md:col-end-4 grid gap-4">
            <img src="/images/aboutImages/about4.png" class="block" loading="eager" alt="about one" >
            <img src="/images/aboutImages/about5.png" class="block" loading="eager" alt="about one" >
          </div>
          <div class="md:col-start-4 md:col-end-5 hidden md:grid gap-4">
            <img src="/images/aboutImages/about6.png" alt="about one">
            <img src="/images/aboutImages/about7.png" alt="about one">
          </div>
        </div>
    </section>
    <section class="px-5 md:px-14 lg:px-[86px]">
      <section class="py-14 md:py-20 lg:py-[138px] lg:px-28 flex flex-col gap-7 md:flex-row items-start md:items-center md:gap-16 lg:gap-[clamp(85px,6.52vw,94px)]">
        <p class=" text-lg md:text-2xl lg:text-[clamp(24px,2.22vw,32px)] text-[#667185] lg:leading-10 font-normal md:w-[60%] lg:w-[70%] text-balance ">
          She wrote her first book <span class="text-purple font-medium">“Worship Brings Rain”</span> in 2019, which originate from her arduous pursuit to establish the direction in which God was guiding her. She is enthusiastic about serving God and his people in her local church and local people.
        </p>
        <button class="bg-black-200 border border-black-200 text-white hover:bg-white hover:text-black-200 transition-all duration-700 py-2 px-3 md:py-4 md:px-5 rounded text-xs md:text-lg">
          Visit Book Store
      </button>
      </section>
    </section>
    <section class="pb-20 md:pb-20 lg:pb-36 px-5 md:px-14 lg:px-[86px]">
      <header class="pb-10 lg:pb-14 text-2xl md:text-[clamp(30px,2.77vw,40px)] text-[#000]">
        My Professional Services
      </header>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-y-24">
        <div class="relative">
          <img src="/images/services/service1.png" alt="My service 1" class="lg:w-[35.96vw]">
          <div class="absolute bg-[#FFF6E9] bottom-[-30px] rounded right-0 md:right-24 lg:bottom-[-30px] lg:right-4 w-[90%] md:w-[50vw] lg:w-[32.5vw] p-5 lg:p-10">
            <h3 class="text-lg md:text-2xl lg:text-[clamp(24px,2.22vw,32px)] text-[#231F20] lg:leading-9 font-medium  pb-4">
              Workshops and Training
            </h3>
            <p class="text-sm lg:text-[clamp(18px,1.66vw,24px)] lg:leading-8 text-[#667185]">
              Harness the Power of Excellence In Your Professional
              Practice With Workshops And Training Sessions Led by Temitope Odetunde
            </p>
          </div>
        </div>
        <div class="relative ">
          <img src="images/services/service2.png" alt="My service 2" class="lg:w-[35.97vw]">
          <div class="absolute bg-[#F6EDFF] bottom-[-30px] rounded right-0 md:right-24 lg:bottom-[-30px] lg:right-4 w-[90%] md:w-[50vw] lg:w-[34vw] p-5 lg:p-10">
            <h3 class="text-lg md:text-2xl lg:text-[clamp(24px,2.22vw,32px)] text-[#231F20] lg:leading-9 font-medium  pb-4">
              Healthcare Consulting
            </h3>
            <p class="text-sm lg:text-[clamp(18px,1.66vw,24px)] lg:leading-8 text-[#667185]">
              With Extensive Pharmacist Experience Temitope Offers Strategic Guidance To Elevate Pharmaceutical Services, & Streamline Medicine Management.
            </p>
          </div>
        </div>
        <div class="lg:col-start-1 lg:col-end-3 relative h ">
          <img src="/images/services/service3.png" alt="My service 3" class="w-[100%] h-[70vw] object-cover md:h-fit lg:w-[78.8888vw]">
          <div class="absolute bg-[#E5E6E7] bottom-[-70px] md:bottom-[-30px] rounded right-0 md:right-0 lg:bottom-[-30px] lg:right-4 w-[90%] md:w-[50vw] lg:w-[36.5vw] p-5 lg:p-10">
            <h3 class="text-lg md:text-2xl lg:text-[clamp(24px,2.22vw,32px)] text-[#231F20] lg:leading-9 font-medium  pb-4">
              Coaching and Mentoring
            </h3>
            <p class="text-sm lg:text-[clamp(18px,1.66vw,24px)] lg:leading-8 text-[#667185]">
              Whether Navigating Career Transitions, Aligning Faith With Profession, or Striving For Excellence, Temitope Provides Tailored Guidance For Your Fullest Potential.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="px-5 md:px-14 lg:px-[86px] lg:flex lg:justify-center">
      <section class="py-14 md:py-20 lg:pt-0 lg:pb-[138px] lg:px-36 flex flex-col gap-7 md:flex-row items-start md:items-center md:gap-12 lg:gap-[clamp(50px,4.583vw,66px)]">
        <p class="text-lg md:text-2xl lg:text-[clamp(24px,2.22vw,32px)] text-[#000] lg:leading-10 font-normal md:w-[60%] lg:w-[70%] text-balance ">
          I run a pharmaceutical firm called RIOS INFLUENCIA which provides consulting, training, and education to bridge hospital and home care, delivering a holistic, patient-centric healthcare experience. 
        </p>
        <button class="bg-purple text-white rounded px-4 py-3 md:py-4 md:px-5"> 
          Visit Store
        </button>
      </section>
    </section>
    <section class="bg-[#FFF3E1] px-5 md:px-14 lg:px-24 py-12 lg:py-28 font-satoshi grid grid-cols-1 lg:grid-cols-5 gap-5 mb-14 lg:mb-28">
      <div class="bg-[#FAAF40] bg-bio bg-tope bg-100 bg-no-repeat lg:col-start-1 lg:col-end-4 flex justify-center  max-h-[500px] rounded-xl" >
        <img src="/images/contactDp.png" alt="" class="lg:w-[49.9vw] object-contain" >
      </div>
      <div class="bg-[#000] lg:col-start-4 lg:col-end-6 bg-bio bg-50 md:bg-25 lg:bg-100 bg-bottome rounded-xl bg-no-repeat text-[#E8E8EA] py-10 lg:pt-[76px] px-10 flex flex-col gap-8 lg:gap-12">
        <h2 class="text-2xl lg:text-[32px] font-bold">
          Contact me via
        </h2>
        <a href="mailto:topeodetunde@hotmail.com" target="_blank" class="flex items-center gap-4" >
          <img src="/images/Letter.svg" alt="letter"> info@temitopeodetunde.com
        </a>
        <a href="tel:+447838374496" target="_blank" class="flex items-center gap-4">
          <img src="/images/Phone.svg" alt="Phone"> +447838374496
        </a>
      </div>
    </section>
<%- include("./layout/footer.ejs") %>