<%- include("./layout/header.ejs") %>

<nav class="flex justify-between items-center py-4 px-4 md:px-10 md:pt-8 lg:px-20 font-inter fixed w-full overflow-hidden bg-white" id="nav">
    <div class="lg:flex items-center gap-[72px]">
        <a href="/"><img src="/images/logo.svg" alt="Temitope svg"></a>
        <ul class=" hidden lg:flex list-none lg:gap-11 text-base text-black-200 font-normal">
          <a href="/about">
            <li>About</li>
          </a>
          <a href="/books">
            <li>Book</li>
          </a>
          <a href="https://www.etsy.com/uk/shop/RIOSINFLUENCIA?ref=hpsh" target="_blank">
            <li>Shop</li>
          </a>
          <a href="/aim">
            <li>AIM</li>
          </a>
          <a href="/blog">
            <li>BLOG</li>
          </a>
        </ul>
    </div>
    <img src="/images/hamburger.png" alt="" class="lg:hidden">
    <div class="hidden lg:flex" >
        <button class="text-lg md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
            Join Community
        </button>
    </div>
</nav>

<section class="px-5 md:px-14 lg:px-20 pt-28 md:pt-40 lg:pt-52 pb-10 md:pb-14 lg:pb-[105px] flex">
<main class=" flex flex-col lg:pl-[clamp(100px,12.08vw,174px)] gap-10">
    <div class="flex flex-col items-center md:flex-row md:items-center">
        <h1 class="text-[#231F20] text-3xl md:text-5xl lg:text-[clamp(45px,5vw,72px)] font-bold lg:leading-[80px] lg:w-[55vw] text-center md:text-left ">
            Ambassador In The Marketplace (AIM)
        </h1>
        <img src="/images/aimlogo.svg" alt="">
    </div>
    <div>
        <button class="text-lg px-3 py-2 md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
            Join Community
        </button>
    </div>
</main>
</section>
<section class="flex items-center  px-5 md:px-14 lg:px-20 pb-10 lg:pb-14">
  <img src="/images/DocVideo.png" alt=" doc video" class="cursor-pointer">
</section>
<section class="bg-[#000] px-5 py-14 md:py-24 md:px-24 lg:py-[clamp(100px,13.33vw,191px)] lg:px-[clamp(150px,14.44vw,208px)]">
  <h1 class="pb-14 lg:pb-24 text-[#E0E0E0] font-bold text-2xl md:text-4xl lg:text-[clamp(45px,3.88vw,56px)] lg:leading-[62px] lg:w-[58vw]">
    The vision of The Ambassador in the Marketplace (AIM) is to:
  </h1>
  <div class="grid md:grid-cols-2 text-white gap-y-7 md:gap-x-14 md:gap-y-14 lg:gap-y-[clamp(80px,7.5vw,108px)] lg:gap-x-[clamp(150px,17vw,261px)] ">
    <% visions.forEach(vision => {%>
      <p class="font-medium text-balance text-base lg:text-[clamp(18px,1.6vw,24px)]"><%=vision %> </p>
    <%})%>
  </div>
</section>

<section class="bg-purple text-white p-5 py-10 md:p-14 lg:py-[clamp(100px,10.97vw,158px)] lg:px-[clamp(95px,8.81vw,127px)] flex flex-col lg:flex-row lg:items-start gap-7 md:gap-11 lg:gap-36">
<h1 class="text-3xl md:text-4xl lg:text-[clamp(50px,5.694vw,83px)] font-extrabold lg:leading-none text-center lg:text-left">
  AIM MISSION
</h1>
<p class=" text-lg md:text-xl lg:text-[clamp(25px,2.222vw,32px)] lg:leading-9 font-medium">
  The Ambassador in the Marketplace (AIM) is an initiative founded by Temitope Odetunde committed to challenging beliefs, correcting misconceptions, and equipping by showcasing Authentic Born-Again Christians who are occupying their place in their area of influence and advancing God's kingdom.
</p>
</section>
<section class="bg-white py-10 md:py-14 lg:py-[clamp(70px,6.94vw,100px)] lg:px-[clamp(100px,13.33vw,191px)] px-5 md:px-24">
  <header class="flex flex-col lg:flex-row gap-10 items-center lg:gap-[clamp(100px,12.15vw,175px)] mb-10 md:mb-12 lg:mb-24">
    <div class="flex flex-row items-center md:flex-row md:items-center md:gap-11">
        <h1 class="text-[#231F20] text-3xl md:text-5xl lg:text-[clamp(45px,5.83vw,84px)] font-bold lg:leading-[80px] w-fit ">
          AIM Value <br> & Believe
        </h1>
        <div >
          <img src="/images/aimlogo.svg" alt="" class="w-fit">
        </div>
    </div>
    <div>
        <button class="text-lg px-3 py-2 md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
            Join Community
        </button>
    </div>
</header>
<div class="grid lg:grid-cols-2 lg:gap-x-[clamp(75px,6.66vw,96px)] lg:gap-y-20 gap-10">
  <% values.forEach(value =>{%>
    <div class="flex items-start gap-5">
      <img src="/images/Verified.png" alt="" class="w-8">
      <p class="font-medium text-[#667185] text-base lg:text-[clamp(18px,1.6vw,24px)]"><%=value %></p>
    </div>
  <%})%>
</div>
</section>

<%- include("./layout/footer.ejs") %>