<%- include("./layout/header.ejs") %>

<nav class="flex justify-between items-center py-4 px-4 md:px-10 md:pt-8 lg:px-20 font-inter fixed w-full overflow-hidden bg-white" id="nav">
    <div class="lg:flex items-center gap-[72px]">
        <a href="/"><img src="/images/logo.svg" alt="Temitope svg"></a>
        <ul class=" hidden lg:flex list-none lg:gap-11 text-base text-black-200 font-normal">
          <a href="">
            <li>About</li>
          </a>
          <a href="/books">
            <li>Book</li>
          </a>
          <a href="">
            <li>Shop</li>
          </a>
          <a href="/aim">
            <li>AIM</li>
          </a>
          <a href="">
            <li>BLOG</li>
          </a>
        </ul>
    </div>
    <img src="/images/hamburger.png" alt="" class="lg:hidden">
    <div class="hidden lg:flex" >
        <button class="text-lg md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
            Join Community
        </button>
    </div>
</nav>

<section>

</section>

<%- include("./layout/footer.ejs") %>