<footer class="py-14 px-5 md:px-14 lg:py-[77px] flex flex-col gap-6 md:flex-row items-center justify-between lg:px-36 bg-black-200">
    <img src="/images/logoWhite.svg" alt="white logo" class="w-20 md:w-36 lg:w-max">
    <ul class=" flex list-none lg:gap-11 gap-4 text-[10px] md:text-sm lg:text-base text-white font-normal">
        <a href="/about">
          <li>About</li>
        </a>
        <a href="/books">
          <li>Book</li>
        </a>
        <a href="https://www.etsy.com/uk/shop/RIOSINFLUENCIA?ref=hpsh" target="_blank">
          <li>Shop</li>
        </a>
        <a href="/aim">
          <li>AIM</li>
        </a>
        <a href="/blog">
          <li>Blog</li>
        </a>
        <a href="/gallery">
          <li>Gallery</li>
        </a>
      </ul>
</footer>
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<script src="/javascripts/js/swiper.js"></script>
<script type="application/javascript" src= "/javascripts/js/my-tinymce-config.js"></script>
</body>
</html>