<footer class="py-14 px-5 md:px-14 lg:py-[77px] flex items-center justify-between lg:px-36 bg-black-200">
    <img src="/images/logoWhite.svg" alt="white logo" class="w-20 md:w-36 lg:w-max">
    <ul class=" flex list-none lg:gap-11 gap-4 text-sm lg:text-base text-white font-normal">
        <a href="/about">
          <li>About</li>
        </a>
        <a href="/books">
          <li>Book</li>
        </a>
        <a href="/shop">
          <li>Shop</li>
        </a>
        <a href="/aim">
          <li>AIM</li>
        </a>
        <a href="/blog">
          <li>BLOG</li>
        </a>
      </ul>
</footer>
<script src="/javascripts/js/swiper.js"></script>
</body>
</html>