<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>
  <body class="bg-grey-100">
    <nav class="flex justify-between items-center px-4 md:px-10 md:py-8 lg:px-20 font-inter">
        <div class="lg:flex items-center gap-[72px]">
            <img src="/images/logo.svg" alt="Temitope svg">
            <ul class=" hidden lg:flex list-none lg:gap-11 text-base text-black-200 font-normal">
              <a href="">
                <li>About</li>
              </a>
              <a href="">
                <li>Book</li>
              </a>
              <a href="">
                <li>Shop</li>
              </a>
              <a href="">
                <li>AIM</li>
              </a>
              <a href="">
                <li>BLOG</li>
              </a>
            </ul>
        </div>
        <img src="/images/hamburger.png" alt="" class="lg:hidden">
        <div class="hidden lg:flex" >
            <button class="text-lg md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
                Join Community
            </button>
        </div>
    </nav>